# We don't want compiled PDFs in the repo
*.pdf

# We don't want editor settings in the repo
.vscode/
.idea/

# LaTeX
protocol/**/*.aux
protocol/**/*.log
protocol/**/*.out
protocol/**/*.synctex.gz
protocol/**/*.toc
protocol/**/*.tex.bak
protocol/**/*.bbl
protocol/**/*.blg
protocol/**/*.fls
protocol/**/*.fdb_latexmk
